*{
    margin: 0;
    box-sizing: border-box;
}
.landingpage{
    width: 100%;
    height: 129vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: 0.5s;
    font-family: serif;
    
}
div video{
  width: 100%;
  
}
@media (max-width: 768px) {
  .landingpage {
      height: auto; 
  }

  .landingpage video {
      height: auto; 
  }
}