
#p-i{
    margin-left: 230px;
    color: rgb(24, 83, 83);
    text-decoration: none;
    background-color: rgb(200, 208, 208);
    border-radius: 17%;
    padding: 1%;
    margin-bottom: 7px;
    margin-top: 127px;
}