
/* body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:  #F2EAED; 
    color: #333; 
}

h1{
    color: rgb(24, 83, 83);  
}

h3 {
    color: rgb(24, 83, 83);
    border-bottom: 2px solid rgb(2, 3, 3);
}

a {
    color: rgb(0, 206, 206); 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

p, pre {
    margin-bottom: 15px;
    color: rgb(2, 4, 4);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:  #F2EAED; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


div {
    margin-top: 30px;
}


h1 {
    color:rgb(24, 83, 83); 
}
.pie{
    background-color: rgb(155, 161, 168);
    padding: 1px;
 }
 .pie h2{
     color: rgb(11, 11, 67);
     margin-left: 373px;
     font-size: 19px;
 } */