.cuerpoo {
    background-color: rgb(223, 230, 223)
}

.tituloo {
    font-size: 41px;
    color: rgb(24, 83, 83);
    align-items: center;
    padding: 2%;
    margin-left: 77px;
}

.titulooo {
    font-size: 41px;
    color: rgb(24, 83, 83);
    align-items: center;
    padding: 2%;
    margin-left: 11px;
}

.textoo {
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: rgb(66, 56, 56);
    column-gap: 31px;
    column-count: 3;
    padding: 20px;
}

#imagenn {
    height: 100%;
    width: 100%;
}

#p-a {
    margin-left: 100px;
}

#p-b {
    color: rgb(24, 83, 83);
}

#p-c {
    margin-left: 290px;
    margin-bottom: 27px;
    padding: 20px;
}

#p-d {
    margin-left: 230px;
    color: rgb(24, 83, 83);
    text-decoration: none;
    background-color: rgb(200, 208, 208);
    border-radius: 17%;
    padding: 1%;
    margin-bottom: 7px;
    margin-top: 27px;
}