.cuerpo {
    background-color: rgb(195, 212, 212);
    padding: 31px;
}
.titulo {
    font-size: 41px;
    color: rgb(24, 83, 83);
    align-items: center;
    padding: 2%;
}

.texto{
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: rgb(66, 56, 56);
    column-gap: 31px;
    column-count: 3;
    padding: 15px;
}
#imagen{
   margin-top: 21px;
   width: 241px;
   height: 307px;
   margin-left: 30px;
}