.cuerpo {
    background-color:   #F2EAED;
    padding: 31px;
}
.titulo {
    font-size: 41px;
    color: rgb(24, 83, 83);
    align-items: center;
    padding: 2%;

}

.texto{
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: rgb(66, 56, 56);
    column-gap: 31px;
    column-count: 2;
    padding: 15px;
}
#imagen{
   margin-top: 21px;
   width: 461px;
   height: 90vh;
   margin-left: 30px;
}

@media (max-width: 768px) {
    .texto {
        column-count: 1; 
    }

    #imagen {
        margin-left: 0;
    }
}