.banner {
    position: relative;
    background-image: url("../assets/img/guatape_fondo.jpg");
    padding: 17%; /* Ajustes de padding para diferentes tamaños de pantalla */
    background-size: cover;
    background-position: center;

}

.text-white h1 {
    font-family: 'Titan One', sans-serif;
    background-color: transparent;
}

.banner::after {
    position: absolute;
    left: 0;
    background-color: rgb(3, 25, 25);
    z-index: -1;
    opacity: 0.5;
    content: ""; /* Añadido para que ::after pueda renderizar */
}

.eh {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.aa {
    margin-right: 20px; /* Ajuste de margen para dispositivos más pequeños */
}

#c-a {
    height: 53px;
    margin-right: 20px; /* Ajuste de margen para dispositivos más pequeños */
}

/* Media query para pantallas más pequeñas (ajustar según sea necesario) */
@media screen and (max-width: 768px) {
    .banner {
        padding: 29%; /* Ajuste de padding para pantallas más pequeñas */
    }

    .aa,
    #c-a {
        margin-right: 10px; /* Ajuste de margen para pantallas más pequeñas */
    }
}