.ay{
    background-color: rgb(200, 180, 180);
    margin-top: 37px;
    margin-bottom: 2px;
    padding: 19%;
    overflow-y: scroll; 
    max-height: 450px;
}       
#p-y{
    margin-left: 230px;
    color: rgb(24, 83, 83);
    text-decoration: none;
    background-color: rgb(200, 208, 208);
    border-radius: 17%;
    padding: 1%;
    margin-bottom: 117px;
}
    
#a-d{
    margin-left: 250px;
    margin-top: 57px;
}

#b-c{
    font-size: 37px;
    color: rgb(24, 83, 83);
    align-items: center;
    margin-left: 77px;
}