.footer {
    padding: 50px 0;
    background-color:  #d9d6d6;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: rgb(27, 24, 24);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a {
    font-size: 16px;
    color: #3b2525;
    display: block;
    margin-bottom: 10px;
}

.img{
margin-left: 851px;
font-size: 31px;
}
#intento{
    color: black;
}

.pie{
   background-color: rgb(155, 161, 168);
   padding: 1px;
}
.pie h2{
    color: rgb(11, 11, 67);
    margin-left: 373px;
    font-size: 19px;
}
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; 
        text-align: center;
    }

    .img, .pie h2 {
        margin-left: 0; 
       
    }
    .pie h2{
        color: rgb(11, 11, 67);
        font-size: 17px;
    }
}