#b-n {
    background-image: url("../../assets/img/paaramo_c.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}

.Foormulario {
    max-width: 400px;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px auto;
    background-color: transparent;
}

.reelleno {
    margin: 20px 0;
}

.suib {
    color: #0f0e0e;
}

.iirr {
    margin-top: 20px;
    padding: 1px;
}

#p-i {
    color: rgb(24, 83, 83);
    text-decoration: none;
    background-color: rgb(200, 208, 208);
    border-radius: 50%;
    margin-top: 20px;
}

#j-p {
    margin-top: 20px;
}

#p-j {
    background-color: rgb(247, 235, 235);
    text-decoration: none;
    color: rgb(22, 24, 24);
    padding: 3%;
    border-radius: 50%;
    margin-top: 20px;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    #b-n {
        height: 250px; /* Ajusta la altura para pantallas más pequeñas */
    }

    .Foormulario {
        max-width: 300px; /* Ajusta el ancho para pantallas más pequeñas */
    }
}