.Formulario {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 421px;
    background-color: #f0e8e8;
}

.relleno {
    margin: 20px 0;

}

.sub {
    color: #888;
}

.irr {
    margin-top: 20px;
    padding: 1px;
}

#p-e {
    color: rgb(24, 83, 83);
    text-decoration: none;
    background-color: rgb(200, 208, 208);
    border-radius: 50%;
    padding: 1%;
    margin-top: 27px;
}
#p-f{
    background-color: rgb(163, 158, 158);
    text-decoration: none;
    color:  rgb(24, 83, 83);
    margin-left: 30px;
    padding: 3%;
    border-radius: 50%;
    
}

/* Estilos adicionales según tu estructura */


/* .Formulario{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background-color:#dbd0d0;
   padding: 27px;
    align-items: center;
    color: black;
}
.relleno{
    margin-left: 341px;
    font-size: 41px;
    color: rgb(24, 83, 83);
    align-items: center;
    padding: 2%;
}
#form-registro{
    padding: 20px;
    columns: 1;
}
.sub{
    justify-content: center;
    align-items: center;
}
.irr{
    font-size: 21px;
    color: rgb(14, 108, 108);
    align-items: center;
}
.boton-entrar{
    margin-top: 27px;
    margin-right: 170px;
    padding: 1%;
    border-radius: 50%;
    border-color: antiquewhite;
}
#zzz{
   text-decoration: none;
   color: black;
   padding: 1%;
   border-radius: 50%;
   border-color: antiquewhite;
   background-color: rgb(229, 229, 235);
}
.piee{
    background-color: rgb(195, 193, 191);
    margin-top: 20px;
}
@media (max-width: 768px) {
    .Formulario {
        padding: 5%; 
    }

    .relleno {
        margin-left: 5%;
        font-size: 36px;
        padding: 5%;
    }

    .irr {
        margin-left: 2%;
    }
} */