.Formulario{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background-color:#dbd0d0;
   padding: 27px;
    align-items: center;
    color: black;
}
.relleno{
    margin-left: 341px;
    font-size: 41px;
    color: rgb(24, 83, 83);
    align-items: center;
    padding: 2%;
}
.sub{
    justify-content: center;
    align-items: center;
}
.irr{
    font-size: 21px;
    color: rgb(14, 108, 108);
    align-items: center;
    margin-left: 71px;
}

.env{
    background-color: rgb(118, 122, 122);
    margin-left: 17px;
}